Repository nextunicorn-inc/nu-packages, pull requests merged in 2022-11, with the labels that each got.

#74 Feat. add hr finder icon
  packages/nu-icons/src/icons/IconHRFinder.tsx
  packages/nu-icons/src/icons/index.ts
Labels: 🖼ICONS

#75 Icon 수정 ...
  packages/nu-icons/package.json
  packages/nu-icons/src/icons/IconHRSearch.tsx
  packages/nu-icons/src/icons/index.ts
Labels: 🖼ICONS

#77 Feat: font-size 15px 추가 및 p5 추가
  packages/nu-ui/@foundations/Font/FontSize.ts
  packages/nu-ui/@foundations/Font/FontSize.types.ts
Labels: 🌱DESIGN

#78 Chore: version update
  packages/nu-icons/package.json
Labels: 🖼ICONS

#79 Chore: nu-icon version update 롤백 & nu-ui version update
  .pnp.cjs
  .yarn/install-state.gz
  packages/nu-icons/package.json
  packages/nu-ui/package.json
  yarn.lock
Labels: 🌊DEVOPS, 🌱DESIGN, 🖼ICONS

#81 [FEAT] <Badge /> 컴포넌트에 variantSizes prop 추가
  packages/nu-ui/Badge/Badge.stories.tsx
  packages/nu-ui/Badge/Badge.styled.ts
  packages/nu-ui/Badge/Badge.tsx
  packages/nu-ui/Badge/Badge.types.ts
Labels: 🌟 FEATURE, 🌱DESIGN
